
 p {
   font-size: 20px;
   line-height: 2rem;
 }
 h4{
   color: #26a69a
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 body{
     background-color: 		#fafafa;
     font-family: 'Open Sans Condensed', sans-serif;
 }
 .fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-yahoo {
  text-align: center;
  background: #430297;
  color: white;
}
.fa {
  padding: 30px;
  font-size: 30px;
  width: 30px;
  height: 0;
  

  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.card{
 height: 552px;
}
.material-icons{
 size: 9rem;
}
.card:hover{
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
/* cursor */
:root, a {
	cursor: none; 	
}


.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
	z-index: 10000;
}

.cursor-dot {
    --size-cursor-dot: 8px;
    width: var(--size-cursor-dot);
    height: var(--size-cursor-dot);
    background-color: #f58220;
}

.cursor-dot-outline {
    --size-cursor-dot-outline: 40px;
    width: var(--size-cursor-dot-outline);
    height: var(--size-cursor-dot-outline);
    background-color: #f5822050;
}
a{
  font-size: 25px;
}